<!DOCTYPE html>

<html>
  <head>
    <title>My Tumblr App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="/moment/min/moment.min.js"></script>
    <script src="socket.io-client/dist/socket.io.js"></script>
  </head>
  <body>
    <div>
        {{{body}}}
      <div id="react-root"></div>
    </div>
    <script src="/bundle.js"></script>
  </body>
</html>