/* .grid-item {
  float:left;
  width:75px;
  height:75px;
  margin:5px;
  overflow:hidden;
} */

body {
  background: #36465d; /* TODO: LESS - twitter brand color */
  color: #fff;
}
.main-content {
  padding-top:50px;
}

.thumbnail-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.thumbnail-wrapper .post {
  background-color: #444;
  color: #fff;
  position: relative;
}

.thumbnail-wrapper .post img {
  width: 100%;
  /* height: 75px; */
}

.post .video {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post .video .fa-play-circle {
  /* position: absolute;
  top: 25px;
  left: 25px; */
  font-size: 28px;
}

.post .link .fa-external-link {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 28px;
}
/* .container  h1 {
  color: #fff;
  font-weight:bold;
}

.container {
  width:850px;
  margin: 0 auto 0 auto;
  }

.tumblr-likes-container {
  width:850px;
} */
.post .post-details {
  display:none;
}

.tumblr-blogger-outer-container {
  /*width: 1000px;*/
  margin: 0 auto;
}

.tumblr-blogger-container {
  display: flex;
  flex-wrap: wrap;
}

.tumblr-blogger-container .blog {
  background-color: white;
  border: 1px solid white;
  margin: 5px;
  padding: 5px;
  width: 275px;
  color: black;
  position: relative;
}

.tumblr-blogger-container .blog .blog-name {
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding-left: 8px;
  display: block;
}

.tumblr-blogger-container .blog .external-blog-link {
  position: absolute;
  top:5px;
  right: 5px;
}

.tumblr-blogger-container .blog .last-updated {
  font-size:11px;
}

/* blog info */
.tumblr-blogger {
  margin-top: 20px;
  display:grid;
  grid-template-columns: 200px auto;
}
.tumblr-blogger a {
  color: white;
}
.tumblr-blogger h3 i {
  padding: 0 5px;
}
